footer.footer
  .footer__logo
    img(src='/img/logo.png' alt=' logo')
  ul.footer__nav
    li: a(href='#') About me
    li: a(href='#') About project
    li: a(href='#') Contact
  p.footer__copyright &copy; by Konrad Lewandowski. 