extends main

block content
    .technologies
        .technology
            .node
                img(src="/img/Node.js_logo.svg", alt="nodejs")
                .libraries
                    img(src="/img/Expressjs_logo.png", alt="nodejs")
        .technology
            .java-script
                img(src="/img/JavaScript_logo.svg", alt="nodejs")
        .technology
            .mongoDB
                img(src="/img/MongoDB_logo.svg", alt="nodejs")