extends main

block content
    main.main
        div
            .technologies
                .technology
                    .node.main-tech
                        img(src="/img/Node.js_logo.svg", alt="nodejs")
                        .libraries
                            img(src="/img/Express_logo.svg", alt="express")
                            img(src="/img/Nodemailer_logo.png", alt="nodemailer")
                .technology
                    .java-script.main-tech
                        img(src="/img/Frontend_logo.png", alt="frontend")
                        .libraries
                            img(src="/img/Pug_logo.svg", alt="pug")
                            img(src="/img/npm_logo.svg", alt="npm")
                .technology
                    .mongoDB.main-tech
                        img(src="/img/MongoDB_logo.svg", alt="mongodb")
                        .libraries
                            img(src="/img/Mongoose_logo.png", alt="mongoose")
                            img(src="/img/Heroku_logo.png", alt="heroku")