extends main

block content
   
        .login-form
            h2.heading-secondary Reset your password
            form.form.form--login.forgot-password
                .form__group
                    label.form__label(for='email') Email address
                    input#email-forgot.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    a(href='#'): button.btn.btn-send  Send