extends main

block content
   
        .login-form
            h2.heading-secondary.ma-bt-lg Reset password
            form.form.form-reset_password
                .form__group.ma-bt-md
                    label.form__label(for='password') New password
                    input#password-reset.form__input(type='password', placeholder='••••••••', required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for='password') Confirm Password
                    input#password__confirm-reset.form__input(type='password', placeholder='••••••••', required, minlength='8')
                    .form__group
                    a(href='#'): button(value=`${token.token}`).btn.btn-reset Confirm new password