:root {
  --primary-grey: rgb(134, 132, 132);
  --primary-white: rgb(255, 255, 255);
  --primary-dark: rgb(53, 53, 53);
  --primary-grey-transparent: #9c93937e;
  --primary-red: #d33a42;
  --primary-green: rgb(77, 230, 77);
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary-grey);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary-grey);
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: var(--primary-dark);
  font-family: 'Lato', sans-serif;
}

.sticky {
  position: sticky;
  top: 0;
}

.header {
  background: var(--primary-white);
  padding: 2rem 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  align-items: center;
  width: 100%;
}
.header > :last-child {
  justify-self: flex-end;
}
#nav-input {
  margin-right: auto;
}

.nav-input {
  display: grid;
  grid-template-columns: repeat(5, min-content);
}

.nav-input input {
  color: var(--primary-dark);
}
.header__logo {
  margin-right: auto;
}

.header__logo img {
  height: 5rem;
  transition: all 0.3s ease-in-out;
}
.header__logo:hover img {
  transform: scale(1.2);
}

.nav--user {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.nav--user-name {
  font-weight: 900;
  background: var(--primary-grey-transparent);
  transform: scale(1.05);
}

.nav {
  padding: 2rem;
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  font-weight: 700;
}

.nav__el {
  color: var(--primary-dark);
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-flex;
  font-family: inherit;
  cursor: pointer;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.nav__el:hover {
  color: var(--primary-grey-transparent);
}

.nav__el--cta {
  padding: 0.5rem 2.5rem;
  border: 1px solid currentColor;
  transition: all 0.3s;
}

.nav__el--cta:hover {
  background: var(--primary-white);
  color: var(--primary-grey-transparent);
  border-color: var(--primary-white);
}

.main {
  display: flex;
  align-items: center;
  min-height: 70vh;
}

.login-form {
  margin: 0 auto;
  width: fit-content;
  background: var(--primary-grey-transparent);
  padding: 2rem 4rem;
  border-radius: 5px;
}

.form__label {
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
}

.form__input {
  font-family: inherit;
  font-size: 1rem;
  color: var(--primary-white);
  padding: 1rem 1.2rem;
  border: none;
  width: 100%;
  background: var(--primary-grey-transparent);

  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transition: all 0.3s;
  box-sizing: border-box;
}

.form__input--search,
.form__input--search:focus {
  display: flex;
  background: none;
  border-bottom: 3px solid var(--primary-red);
}

.form__input:focus {
  outline: none;
  border-bottom: 3px solid var(--primary-green);
}

.form__input:focus:invalid {
  border-bottom: 3px solid var(--primary-red);
}

.form__group:not(:last-child) {
  margin-bottom: 2.5rem;
}

.btns {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}

.btn,
.btn:link,
.btn:visited {
  font-size: 1rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  position: relative;
  transition: all 0.4s;
  font-weight: 400;
  backface-visibility: hidden;
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
  background: var(--primary-green);
}

.footer {
  background: var(--primary-white);
  padding: 4rem 5rem;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 0.75rem;
  justify-content: space-between;
}

.footer__logo {
  grid-row: 1 / 3;
  align-self: center;
}

.footer__logo img {
  height: 3rem;
}

.footer__nav {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-end;
}

.footer__nav li {
  margin-left: 1.5rem;
}

.footer__nav a {
  color: var(--primary-grey);
  text-decoration: none;
  transition: all 0.2s;
}

.footer__nav a:hover,
.footer__nav a:active {
  color: var(--primary-green);
}

.footer__copyright {
  justify-self: end;
  color: var(--primary-grey);
}

.heading-secondary {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  background-image: var(--primary-dark);
  color: var(--primary-grey);
}
.heading-secondary--error {
  background-image: none;
  background: var(--primary-red);
}

.heading-primary,
.heading-tertirary {
  position: relative;

  color: var(--primary-white);
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.2rem;
  text-align: center;
  margin: 0 auto;
  padding: 1rem;
}
.heading-primary span,
.heading-tertirary span {
  padding: 1rem;
  background: var(--primary-dark);
}

.heading-tertirary {
  font-size: 2.75rem;
  text-align: right;
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  width: 70%;
}

.ma-bt-lg {
  margin-bottom: 3.5rem;
}

.error {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80rem;
  text-align: center;
}

.error__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.error__emoji {
  font-size: 3.75rem;
  margin-left: 1rem;
}

.error__msg {
  font-size: 2.5rem;
  font-weight: 700;
  max-width: 50rem;
  margin: 0 auto;
}

.user-view {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  overflow: hidden;
}

.user-view__menu {
  background: var(--primary-grey-transparent);
}

.user-view__content {
  margin: auto;
  background: var(--primary-dark);
  min-height: 66vh;
  gap: 2rem;
}

.user-view__form-container {
  padding: 2rem;
  background: var(--primary-white);
}

.side-nav {
  width: 310px;
  list-style: none;
  justify-content: end;
}

.side-nav--active,
.side-nav li:hover {
  border-bottom: 4px solid var(--primary-white);
}

.side-nav a:link,
.side-nav a:visited {
  padding: 1rem 4rem;
  display: flex;
  align-items: center;
  color: var(--primary-white);
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.3s;
}

.delete-me {
  font-size: 1.2rem;
}
.delete-me:hover a {
  transform: scale(1.2);
  color: var(--primary-red);
}

.delete-user {
  background: var(--primary-white);
}

.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary-white);
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  padding: 1.6rem 15rem;
  z-index: 2;
}

.alert--success {
  background: var(--primary-green);
}
.alert--error {
  background: var(--primary-red);
}

.admin-nav__heading {
  margin: 0 5rem 1.5rem 4rem;
  padding-bottom: 3px;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: var(--primary-white);
  border-bottom: 1px solid currentColor;
}

.arrow {
  font-size: 2.5rem;
  /* color: white; */
}

.show-dates {
  font-size: 2.5rem;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.show-dates:hover {
  cursor: pointer;
  transform: rotate(-90deg) scale(1.2);
}
.list-item {
  /* height: 200px; */
  list-style: none;
  width: 100%;
  position: absolute;
  cursor: pointer;
  font-size: 1.5rem;
  background: white;
  /* border-bottom: 3px solid #d33a42 ; */
  top: 100%;
  left: 0;
  right: 0;
}
.list-item:hover {
  cursor: pointer;
  font-size: 1.5rem;
  background: rgb(184, 176, 176);
  border-bottom: 3px solid var(--primary-red);
}

.day-container {
  padding: 2rem 0;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.day {
  position: relative;
  background: var(--primary-white);
  height: 33%;
  width: 300px;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.day__header {
}

.day__details {
  padding: 1rem;
}
.day__sub-heading {
  font-size: 1.7rem;
  text-transform: uppercase;
  font-weight: 700;
  /* grid-column: 1 / -1; */
}
.day__text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}

.day__text-meal {
  grid-column: 1 / -1;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  margin-top: -1rem;
  margin-bottom: 0.75rem;
}

.day__data {
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.edit-day,
.add-day {
  color: inherit;
  text-decoration: none;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.edit-day:hover,
.add-day:hover {
  color: var(--primary-grey);
}

.close_form,
.reset-day,
.delete-day {
  font-size: 2rem;
  margin-top: 0.8rem;
  text-decoration: none;
}

#edit-date {
  color: var(--primary-white);
  background-image: var(--primary-dark);
}

#edit-date::placeholder {
  color: var(--primary-white);
}

.day__render-container {
  width: 100%;
  height: 80%;
  margin-top: 3%;
}

.label-summary {
  font-size: 3rem;
  position: absolute;
  right: 0;
  margin-right: 0.4rem;
  bottom: 0;
  margin-bottom: 0.4rem;
}

.end {
  border-bottom: 1px solid var(--primary-grey-transparent);
}

.meal__container {
  background: var(--primary-grey-transparent);
}

.btn_create {
  position: relative;
  right: 0%;
  text-decoration: none;
}
.btn_create:hover {
  cursor: pointer;
}

.add_form-contariner {
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  width: 300px;
  top: -100vh;
  opacity: 0;
  text-align: center;
  background: var(--primary-grey);
  position: fixed;
  transition: all 1s ease-in-out;
}
.add_form-contariner-in {
  opacity: 99%;
  top: 10vh;
}

.add_form-details {
  padding: 0.5rem;
  font-size: 1.5rem;
  display: grid;
  gap: 0.2rem;
}
.search-product input {
  padding: 1rem;
  font-size: 1.2rem;
}

.add_product-input {
  display: grid;
  gap: 1rem;
  margin-top: 10px;
  font-size: 1.5rem;
}

.add_form-footer {
  font-size: 1.5rem;
}

.add_product-confirm {
  font-size: 4rem;
  padding: 0.3rem;
}

.add_product-confirm:hover {
  cursor: pointer;
}
.add_form-header {
  padding: 0.5rem;
}

.delete {
  font-size: 1.4rem;
  cursor: pointer;
}
.delete:hover {
  cursor: pointer;
}

.name_of_product {
  display: grid;
  grid-template-columns: auto auto;
}
.spans {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}

.header_name {
  font-weight: 900;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1em;
}

.edit-field {
  display: grid;
  grid-template-columns: 10% 80%;
  gap: 1rem;
  cursor: pointer;
}

.edit-field:hover {
  background: var(--primary-grey-transparent);
}

.delete_current {
}

.input_search-container {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.item-list {
  font-size: 2rem;
  padding: 0.5rem;
  color: var(--primary-white);
  border: 1px solid var(--primary-grey);
  opacity: 80%;
  background: var(--primary-dark);
  text-align: center;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
}

.item-list:hover {
  cursor: pointer;
  background: var(--primary-grey);
  color: var(--primary-dark);
}

.new-date {
  display: none;
  position: absolute;
  top: 10%;
  right: 50%;
  transform: translateX(50%);
  font-size: 2rem;
  padding: 0.8rem;
}
.ok {
  font-size: 2em;
}

.edit_exists {
  top: -100vh;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  opacity: 0;
  z-index: 2;
  width: 300px;
  height: 40vh;
  background: var(--primary-grey);
  color: var(--primary-white);
  position: fixed;
  transition: top 1s ease-in-out;
}

.edit_exists_in {
  opacity: 99%;
  top: 33vh;
}

.edit-details {
  font-size: 1.5rem;
  text-align: center;
}

.button-edit {
  font-size: 2rem;
}

.button-edit:hover {
  cursor: pointer;
}

.change_product-input {
  margin: auto;
  position: relative;
  align-self: center;
  font-size: 1.5rem;
  display: block;
}

.btn-next {
  bottom: 0;
  right: 20%;
  position: absolute;
}
.btn-back {
  bottom: 0;
  left: 20%;
  position: absolute;
}

.technologies {
  padding: 1rem;
  background: var(--primary-white);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.node img {
  width: 100%;
  height: 60%;
}

.java-script img {
  width: 90%;
  height: 60%;
}
.mongoDB img {
  width: 100%;
  height: 60%;
}

.technology {
  flex: 1;
}

.main-tech {
  text-align: center;
  align-self: center;
}

.libraries img {
  padding: 20px;
  width: 80%;
  height: 60%;
}
